@import url("https://fonts.googleapis.com/css2?family=Encode+Sans:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";

/* Defined custom theme values */
@theme {
  --font-primary: "Encode Sans", sans-serif;
  --font-secondary: "Open Sans", sans-serif;
  --font-tertiary: "Urbanist", sans-serif;
}

@layer base {
  body {
    @apply font-primary;
  }
}

* {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

/* Chrome, Safari, Opera */
*::-webkit-scrollbar {
  width: 0;
  height: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Encode Sans", sans-serif;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeIn {
  animation: fadeIn 0.3s ease-in-out;
}

/* Preloader animation */
@keyframes expand {
  0% {
    transform: scale(1);
    border-radius: 8px;
  }
  50% {
    transform: scale(10);
    border-radius: 25%;
  }
  100% {
    transform: scale(100);
    border-radius: 0;
  }
}

/* --------------About page preloader animation ---------------- */
.animate-expand {
  animation: expand 1s ease-in-out forwards;
}
